<div class="row">
  <div class="col-md-8">
    <tile ng-repeat="tile in tiles.filtered track by tile.id"></tile>
  </div>
  <div class="col-md-4">
    <div id="filters" class="row" ng-controller='SearchCtrl'>
      <div class="panel panel-default tile">
        <div class="panel-heading"><h5>Filters</h5></div>
        <div class="panel-body">
          
          <div class="input-group">
             <input type="text" 
             class="form-control" 
             placeholder="Search" 
             ng-model="query" 
             ng-model-options="{ debounce: 200 }"
             ng-change="queryChanged(query)">
          </div><!-- /input-group -->
        </div>
      </div>
    </div>
  </div>
</div>
